/* цвет основного текста #212121 */
/* вторичный цвет текста #757575 */
/* вторичный цвет текста #000000 */
/* акцент #2196F3 */
/* белый #FFFFFF */
/* вторичный цвет фона #2F303A; */
/* вторичный цвет фона #F5F4FA */
:root {
    --primary-text-color: #212121;
    --title-text-color: #757575;
    --secondary-title-text-color: #000000;
    --accent-color: #2196F3;
    --secondary-accent-color: #188CE8;
    --white: #FFFFFF;
    --primary-background-color: #2F303A;
    --secondary-background-color: #F5F4FA;
}

.html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
    background-color: var(--white);
}

section {
    padding-left: 94px;
    padding-right: 94px;
}

ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0px;
    margin-bottom: 0px;
}

a {
    text-decoration: none;
}

ul {
    display: flex;
    background-color: var(--white);
}

.container {
    width: 1200px;
    padding-right: 15px;
    padding-left: 15px;
    margin: 0px auto;
}


/* Логотип */
.header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--white);
}

.logo {
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: var(--secondary-title-text-color);
}

.logo-accent {
    color: var(--accent-color);
}

.li .link.current: {
    margin-right: 50px;
}

li {
    outline: 1px solid red;
}

.link.current {
    outline: 1px, solid, red;
    color: var(--accent-color);
}

.link:hover,
.link:focus {
    color: var(--accent-color);
}

.link {
    outline: 1px, solid, var(--accent-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
}

/* Контакты */

.email:hover,
.email:focus {
    color: var(--accent-color);
}

.email {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    margin-bottom: 32px;
    color: var(--title-text-color);
}

.tel {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    margin-bottom: 32px;
    color: var(--title-text-color);
}

/* Герой */
.hero {
    text-align: center;
    outline: 10px solid rgba(210, 17, 42, 0.15);
    background-color: var(--primary-background-color);
}

.hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    padding-top: 200px;
    padding-bottom: 280px;
    margin-bottom: 35px;
    color: var(--white);
}

.hero.button-primary:hover,
.hero.button-primary:focus {
    background: var(--secondary-accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    color: var(--white);
}

.hero.button-primary {
    font-family: inherit;
    cursor: pointer;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    border-radius: 4px;
    padding: 10px 32px;
    margin-bottom: 195px;
    min-width: 200px;
    color: var(--white);
    background-color: var(--accent-color);
}

/* Фильтр работ */

.button {
    display: inline-block;
    color: var(--primary-text-color);
    background-color: var(--secondary-background-color);
    border-radius: 4px;
    padding: 6px 22px;

}

.button.primary {
    cursor: pointer;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
    min-width: 73px;
    margin-left: 0px;
    background-color: var(--accent-color);
}

.btn-group .button:hover,
.btn-group .button:focus {
    color: var(--white);
    background-color: var(--accent-color);
}

.btn-group .button {
    cursor: pointer;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
    padding: 6px, 22px;
    margin-right: 8px;
    border: 1px solid transparent;
    color: var(--primary-text-color);
    background-color: var(--secondary-background-color);
}

.btn-group .button:not(:last-child) {
    margin-right: 0px;
}

.photo {
    text-decoration: none;
}

/* Наши особенности */
.section .features {
    margin-bottom: 0px;
    background-color: var(--white);
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.features-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-top: 0px;
    margin-bottom: 10px;
    color: var(--primary-text-color);
}

.features-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    margin-top: 0px;
    margin-bottom: 94px;
    color: var(--title-text-color);
}

/* Наша команда */

.section.work {
    margin-top: 0px;
    margin-bottom: 94px;
}

.section-team {
    margin-bottom: 0px;
    background-color: var(--secondary-background-color);
}

.section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
}

.work-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    margin-bottom: 50px;
    color: var(--primary-text-color);
}

.team-item {
    background-color: var(--white);
}

.team-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    color: var(--primary-text-color);
}

.vocation {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    color: var(--title-text-color);
}

.galery-title-hidden {
    display: none
}

.galery-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2.0;
    letter-spacing: 0.06em;
    color: var(--primary-text-color);
}

.example-work {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.9;
    color: var(--title-text-color)
}

/* Футер сайта */
.footer {
    margin-bottom: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--primary-background-color);
}

.footer .logo {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: var(--white);
    background: var(--primary-background-color);
}

.adress-item:hover,
.adress-item:focus {
    color: var(--accent-color);
}

.adress {
    font-style: normal;
}

.adress-item {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    color: var(--white);
}

.email-item:hover,
.email-item:focus {
    color: var(--accent-color);
}

.email-item {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    color: rgba(255, 255, 255, 0.6);
}

.tel-item:hover,
.tel-item:focus {
    color: var(--accent-color);
}

.tel-item {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    color: rgba(255, 255, 255, 0.6);
}